body {
	/*    Почему то в папке не видит шрифт
  Надо попробовать его установить локально
        */
	font-size:14px;
	line-height:21px;
	color:#333333;
	font-weight:normal;
	font-family: 'PT Sans' Arial,sans-serif;



  min-width: 768px;
  max-width: 1200px;
  margin: auto;
}

.clearfix::after {
  display: table;
  content: '';
  clear: both;
}

* {
  position: relative;
}

*::before {
  position: absolute;
  top: -20px;
  left: 0;
  padding: 0 10px;
  line-height: 20px;
  opacity: .7;
}



h1 {
	font-size:21px;
	line-height:26px;
	color:#000000;
	font-weight:bold;;
	font-family: 'PT Sans' Arial,sans-serif;
}

h2 {
	font-size:14px;
	line-height:21px;
	color:#333333;
	font-weight:normal;
	font-family: 'PT Sans' Arial,sans-serif;
}

.main-header {

  min-height: 60px;
  margin-bottom: 80px;
}


// .main-navigation {

//   min-height: 60px;
//   padding: 15px 0;
//   margin: 0 auto;
//   width: 400px;
//   float: left;
// }

.main-navigation li {
  width: 20%;
}

/* все нечетные */
.main-navigation li:nth-child(odd) {
    float: left;
    text-align: left;
}

/* все четные */
.main-navigation li:nth-child(even) {
    float: right;
    text-align: right;
}

/* первый и каждый четверный за ним */
.main-navigation li:nth-child(4n + 1) {
    margin-left: 6%;
}

/* второй и каждый четверный за ним */
.main-navigation li:nth-child(4n + 2) {
    margin-right: 6%;
}

.main-navigation {

  outline: 1px dotted orange;
}

.main-navigation::before {
  content: '.main-navigation';
  background-color: orange;
}

.main-navigation li {
  outline: 1px dotted orangered;
}

.main-navigation li::before {
  content: '.menu-item';
  background-color: orangered;
  color: black;
}

.header-logo {
  background-color: green;
  min-height: 60px;
  width: 140px;
  margin-right: auto;
  margin-left: auto;
}



.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrapper {
  background: url('../img/bg.png');
  width: 1200px;
  height: 773px;
}

.intro {
  width: 1200px;
  height: 533px;
}

.intro img {
  display: block;
  // margin-top: 75px; почему не отталкиавется от края блока интро
  margin-right: auto;
  margin-left: auto;
}
