body {
	/*    размер шрифта,
    		высоту строки,
    		цвет шрифта,
    		жирность шрифта,
    		гарнитуру (название шрифта).*/
	font-size:;
	line-height:;
	color:;
	font-weight:normal;;
	font-family: 'PT Sans' arial;
}

h1 {
	font-size:;
	line-height:;
	color:;
	font-weight:normal;;
	font-family: 'PT Sans' arial;
}

h2 {
	font-size:;
	line-height:;
	color:;
	font-weight:normal;;
	font-family: 'PT Sans' arial;
}