        body {
        font-size: 14px;
        line-height: 21px;
        color: #333333;
        font-weight: 700;
        font-family: 'PT Sans', Arial, sans-serif;
        background-color: #f2f2f2;
        text-transform: uppercase;
    }

    .clearfix::after {
        display: table;
        content: '';
        clear: both;
    }

    * {
        position: relative;
        // }
        // *::before {
        //     // position: absolute;
        //     top: -20px;
        //     left: 0;
        //     padding: 0 10px;
        //     line-height: 20px;
        //     opacity: .7;
        // }
        h1 {
            font-size: 21px;
            line-height: 26px;
            color: #000000;
            font-weight: bold;
            font-family: 'PT Sans', Arial, sans-serif;
        }
        h2 {
            font-size: 14px;
            line-height: 21px;
            color: #333333;
            font-weight: normal;
            font-family: 'PT Sans', Arial, sans-serif;
        }
        .main-header {
            margin: 0;
            background-color: white;
        }
        ul {
            margin: 0;
        }
        .main-navigation li {
            width: 20%;
            padding: 15px 0;
            list-style-type: none;
            font-size: 14px;
            line-height: 26px;
            font-weight: bold;
        }
        .main-navigation ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        /* все нечетные */
        .main-navigation li:nth-child(odd) {
            float: left;
            text-align: left;
        }
        /* все четные */
        .main-navigation li:nth-child(even) {
            float: right;
            text-align: right;
        }
        /* первый и каждый четверный за ним */
        .main-navigation li:nth-child(4n + 1) {
            margin-left: 6%;
        }
        /* второй и каждый четверный за ним */
        .main-navigation li:nth-child(4n + 2) {
            margin-right: 6%;
        }
        .main-navigation a {
            text-decoration: none;
            color: #000000;
        }
        .main-navigation a:not(.active):hover {
            color: #81b3d2;
        }
        .main-navigation a:not(.active):active {
            color: #000000;
            opacity: .3;
        }
        .main-navigation .active {
            color: #766357;
        }
        .header-logo {
            width: 138px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            margin-right: auto;
            margin-left: auto;
            z-index: 1;
        }
        .wrapper {
            max-width: 1200px;
            min-width: 768px;
            margin: auto;
            background-color: white;
        }
        .intro {
            width: 100%;
            background-image: url('../img/intro_shape.png'), url('../img/bg.png');
            background-repeat: no-repeat;
            background-position: bottom center, top center;
            background-size: 100% 55px, 100% auto;
            margin-bottom: 60px;
        }
        .intro img {
            display: block;
            margin: 0 auto;
            padding: 75px 0 80px;
        }
        .features h1 {
            margin: 0;
            padding: 0;
            text-align: center;
            padding-right: 32%;
            padding-left: 32%;
            margin-bottom: 31px;
            font-size: 21px;
            line-height: 26px;
            text-transform: uppercase;
        }
        .features p {
            margin: 0;
            padding: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            text-align: center;
            font-size: 14px;
            line-height: 26px;
            text-transform: uppercase;
            color: #333333;
        }
        .features-list {
            display: flex;
            justify-content: flex-start;
            flex-flow: row wrap;
            counter-reset: feature-list;
        }
        .feature-item.pictured .feature-title {
            padding-left: 25%;
            padding-right: 25%;
            margin-bottom: 23px;
            color: #ffffff;
            text-transform: uppercase;
        }
        .feature-item.pictured p {
            padding-right: 15px;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 0px;
            padding-left: 0px;
        }
        .feature-title {
            padding: 0;
            margin: 0;
            font-size: 21px;
            line-height: 23px;
            text-transform: uppercase;
            font-weight: 700;
            color: #000000;
        }
        .feature-item.feature-title {
            margin-bottom: 22px;
        }
        p.feature-text {
            margin: 0;
            padding: 0;
            color: #000000;
            font-size: 14px;
            line-height: 21px;
            font-weight: normal;
        }
        .feature-text.numbered::before {
            display: block;
            margin-bottom: 20px;
            counter-increment: feature-list;
            content: '— № ' counter(feature-list) ' —';
        }
        .feature-item {
            flex: 1 1 calc(33.33% - 100px);
            // padding-top: 45px;
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 90px;
            text-align: center;
        }
        .feature-item.icon {
            flex: 1 1 calc(33.33% - 100px);
            padding-top: 45px;
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 100px;
            text-align: center;
        }
        .feature-item.pictured {
            position: relative;
            flex-basis: calc(100% - 100px);
            overflow: hidden;
            background-color: #81b3d2;
        }
        .feature-item.pictured.right {
            padding-right: calc(66.67% + 50px);
        }
        .feature-item.pictured.left {
            padding-left: calc(66.67% + 50px);
        }
        .pictured img {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 66.67%;
            height: auto;
            margin: auto;
        }
        .feature-item.pictured.right img {
            right: 0;
        }
        .feature-item.pictured.left img {
            left: 0;
        }
        /*---------------------------------*/
        .icon.house p {
            letter-spacing: 0;
        }
        .icon.house::before {
            content: "";
            display: inline-block;
            margin-bottom: 19px;
            width: 75px;
            height: 75px;
            background-image: url("../img/house.png");
            background-repeat: no-repeat;
        }
        .icon.burger::before {
            content: "";
            display: inline-block;
            margin-bottom: 22px;
            width: 75px;
            height: 75px;
            background-image: url("../img/burger.png");
            background-repeat: no-repeat;
        }
        .icon.burger p {
            letter-spacing: 0px;
            margin-left: -8%;
            margin-right: -8%;
        }
        .icon.present p {
            letter-spacing: 0px;
            margin-left: -9%;
            margin-right: -8%;
        }
        .icon.present::before {
            content: "";
            display: inline-block;
            margin-bottom: 22px;
            width: 75px;
            height: 75px;
            background-image: url("../img/present.png");
            background-repeat: no-repeat;
        }
        /**----------------------------*/
        /*begin grey*/
        .feature-item.grey {
            width: 33.33%;
            padding-top: 45px;
            padding-bottom: 60px;
            background-color: #eeeeee;
            text-align: center;
        }
        .grey .feature-title {
            margin-bottom: 24px;
            white-space: pre-line;
        }
        .feature-item.grey .feature-text {
            margin-left: -5%;
            margin-right: -4%;
        }
        /* end grey*/
        /*begin form*/
        .feedback {
            display: block;
            padding-top: 48px;
            background-color: #ffffff;
            color: #000000;
            text-align: center;
        }
        .feedback b {
            margin: 0;
            padding: 0;
            margin-bottom: 18px;
            font-size: 30px;
            line-height: 42px;
            font-weight: bold;
            display: block;
        }
        .feedback p {
            padding: 0;
            margin: 0;
            padding-left: 30%;
            padding-right: 30%;
            margin-bottom: 45px;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #333333;
            font-weight: normal;
        }
        /*end form*/
        .map {
            background-image: url('../img/map.jpg');
            height: 500px;
        }
        .main-footer {
            display: flex;
            flex-flow: row nowrap;
            padding-top: 25px;
            padding-bottom: 35px;
        }
        footer.main-footer.footer-abs {
            position: absolute;
            width: 100%;
            bottom: 0;
            align-items: center;
            background-color: #fefefe;
            opacity: 0.9;
            overflow: hidden;
        }
        .footer-contacts,
        .footer-social,
        .footer-copyright {
            flex: 1 1 33.33%;
            text-align: center;
        }
        .footer-contacts p{
    align-items: center;
    background-color: #fefefe;
    opacity: 0.9;
    overflow: hidden;
  }
